html, body{
    font-family: Helvetica;
    font-size: 1rem;
}

#form{
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
    padding:  1vw 3vw;
}

#form input, #form select{
    max-width: 50vw;
}
.allProducts{
    display: grid;
    grid-template-columns: auto auto auto;

}
.allProducts h4{
    text-align: center;
    text-transform: uppercase;
}
.allProducts div{
    border: 5px solid rgb(31, 31, 67);
    padding:  1vw 2vw;
}

.allProducts div:nth-child(even){
    background-color: rgb(157, 207, 190);
}
.allProducts div:nth-child(odd){
    background-color: rgb(138, 118, 146);
    
}

